<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="config.php" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!-- AI_PROXY_RULE -->
  </system.webServer>
</configuration>
